
.stat-info {
	padding: 35px;
	background-color: $light-gray;
}

.offer-section {
	padding: 40px;
	background-color: $light-gray;

}


.adv-card {
	flex: 1 0 35% !important;
	min-width: 240px !important;
	max-width: 400px;
	margin-bottom: 25px !important;

	@media (max-width: 572px) {
		margin-right: auto !important;
		margin-left: auto !important;
	}

	color: gray;
}

.card-important-info {
	color: $dark;
	font-weight: bold;
}

.card-btn {
	text-transform: uppercase;
	position: absolute;
	height: 49px;
	width: 70px;
	border:none;
	bottom:0;
	right: 0;
	padding-top: 10px;
	padding-right: 3px;
	padding-left: 3px;
	line-height: 13px;
	font-size: .7em;
	letter-spacing: 1px;
	text-align: center;
	background-color: $mint;
	color:$white;
}

.card-btn:hover {color:$white;}


.card-list {
	font-size: 0.8em;
	> li { padding: 0 !important; border:none;}
}

.avatar-text-card {
	max-width: 75px;
	word-wrap: break-word;
	font-size: .8em;
	font-weight: 500;
}

.offer-card-body {
	display: flex !important;
	flex-flow: row;
	> div > img {
		max-height: 100px !important;
	}
}

.card-avatar {
	min-width: 60px;
	display: flex;
	flex-wrap: wrap;

	:first-child { align-self: flex-start; }
	:last-child { align-self: flex-end;	}
}

.counter {
	margin-top: 50px;
	font-size: 4em;
	text-align: center;
}

.btn-outline-theme {
	border: 2px solid $mint!important;
	background-color: transparent!important;
	color: $mint!important;
}

.adv-button {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	align-self: center;
	background-color: $mint !important;
}

.bragging-icon {
	font-size: 4em;
	float: right;
}
/*********************************** MESSAGES PAGE ***********************************/


.main-messages {
	margin-top: 100px;
}
