.no-repeat-img-header {

	height: 100%;
	width: 100%;
	top: 0;
	z-index: -1;
	background: url('/../school.png') repeat 0 0 fixed;

	display: flex;
	align-items: center;
}


.bg-container {
	width: 100%;
	display: flex !important;
	justify-content: space-around;
	flex-flow: row wrap;
}

.panel-header {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
	margin: 6px;
	order: 1;
	font-size: 70px;

	.fa-graduation-cap::after {
		margin-top: 10vh;
		content: 'STUDENT';
		display: block;
		font-size: 50%;
		font-family: "Raleway", sans-serif;
		font-weight: 100;
		letter-spacing: 6px;
	}

	.fa-chalkboard-teacher::after {
		margin-top: 10vh;
		content: 'TEACHER';
		display: block;
		font-size: 50%;
		font-family: "Raleway", sans-serif;
		font-weight: 100;
		letter-spacing: 6px;
	}
}


.choose-header {
	position: absolute;
	flex:100%;
	left: 50%;
	top: 45%;
	margin-left: -110px;

	@media screen and (max-width: 577px) {
		margin-left: -110px;
		top: 10%;
	}

	@media screen and (min-width: 1477px) {
		margin-left: -150px;

		.choose-holder {
			font-size: calc(6em + 1vw)
		}
	}

}

.choose-holder {
	color: $mint;
	font-family: 'Damion', cursive;
	font-size: calc(5em + 1vw);
}


.text-abs-header {
	position: absolute;
	flex:100%;
	left: 50%;
	bottom: 13%;
	margin-left: -48px;
}

.text-abs-holder {
	width: 100px;
	height: 30px;
	color: $mint;
	border: 1px $mint solid;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	font-family: "Nunito", sans-serif;
	display: block;
}


.text-abs-header > a:hover{
	color: $white;
	background-color: $mint;
	text-decoration: none;
}

.icon-holder {
	color: $mint;
	text-align: center;
	width: 100%;
	height: 100%;
	max-height: 216px;

}

.vertical-line-header {
	border-left: 1px solid $mint;
	height: 10%;
	position: absolute;
	bottom: 1px;
	left: 50%;
}




// CHAT BUBBLES
@media screen and (max-width: 577px) {
	.speech-bubble {
		display:none;
	}
}

.speech-bubble {
	margin-bottom: 80px;
	padding: 18px;

	min-width: 26vw;
	max-width: 14vw;
	height: 100%;


	font-size: .2em;
	position: relative;
	background: $mint;
	border-radius: .5em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-top-color: $mint;
	border-bottom: 0;
	border-left: 0;
	margin-left: -18px;
	margin-bottom: -36px;
}