
nav {
	position: fixed !important;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
}

.letters-spacing {
	letter-spacing: .2vw;
}

.separator-auth {
	display: none;

	line-height: -10px;
	color: $white;
	font-size: 20px;
	font-weight: 100;
}

@media (min-width: 768px) {
	.separator-auth {
		display: block;
	}
}



.nav-container {

}