/* Background pattern from Toptal Subtle Patterns */

// Fonts
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mixins
@import "mixins";

// Page elements
@import "navigation";
@import "header";
@import "profile";
@import "courses";
@import "content";
@import "auth";
@import "footer";


* { box-sizing: border-box; }
body, html { height: 100%; margin: 0; padding: 0; }
img{ max-width:100%;}

.text-mint { color: $mint !important; }
.bg-mint { background-color: $mint !important; }

.text-google { color: $google-color !important; }
.text-facebook { color: $facebook-color !important; }
.text-twitter { color: $twitter-color !important; }

